# PlatformIO
.pio
.pioenvs/
.piolibdeps/
*.elf
*.hex
*.bin
*.o
*.d
*.map

# VSCode
.vscode/

# Python
*.pyc
.__pycache__/

# Temp files
*~
*.swp

# If using other IDEs or text editors
.idea/
*.sublime-project
*.sublime-workspace
